.die { font-size:xx-large; }
.diceres { text-align:center; }
.diceresglitch { text-align:center; color:red; }
.center { margin-left:auto; margin-right:auto; }
.med { font-size:medium !important; }
.txtcenter { text-align: center }
.poplabel { text-align:center; }
.centerhead { text-align:center; }
.dicebutton { height:43px; }
td { text-align:center; }
.grey {color:grey;}
.char-container .ui-btn-inner { text-align: center; }

#tworow-stun-cg a, #tworow-misc-cg a, #tworow-phy-cg a {   
	float:none;
 	display:table-cell;
	vertical-align:middle;
}
