.die { font-size:xx-large; }
.diceres { text-align:center; }

.center { margin-left:auto; margin-right:auto; }
.med { font-size:medium !important; }
.txtcenter { text-align: center }

.poplabel { text-align: center; }
td { text-align: center; }

.info { color:gray; font-size: smaller; }
.warn { color:red; }
.fade { color:gray; }
.hit  { /* text-shadow:0px 0px 1px gold; */ }

.center-collap .ui-btn-inner { 
	text-align: center; 
	vertical-align: middle; 
}

.dice-btn { height: 42px; }
.dice-btn .ui-btn-inner { padding: 6px; }

/* Custom layout for the three buttons in a row thing */ 
#tworow-stun-cg a, #tworow-misc-cg a, #tworow-phy-cg a, #tworow-test-cg a {   
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.btn-out { width: 5%; }
.btn-in { width: 90%; }
.fullwidth { margin:0px !important; }

/* http://forum.jquery.com/topic/eliminate-circcle-around-icon */
/* Get rid of the annoying outer circle on listview alt links */
.ui-li-link-alt span.ui-btn-corner-all {
	border-style: hidden;
	-webkit-box-shadow: none;
	/* Additional browser-specific box-shadow CSS should go here */
	background: transparent;
}

.ui-li-count { font-size:medium !important; }

.nosel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Prevent the app to take the whole screen on the desktop */
html { background-color: #F9F9F9; }
@media only screen and (min-width: 600px) {
	.ui-page {
		width: 600px !important;
		margin: 0 auto !important;
		position: relative !important;
		border-right: 2px #666 outset !important;
		border-left:  2px #666 outset !important;
	}
}
